<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title ng-bind="$state.current.data.pageTitle + ' &raquo; Organmistrzostwo Zdzisław Mollin'">Organmistrzostwo Zdzisław Mollin</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script data-main="scripts/amd/config" src="scripts/amd/require.js"></script>

  <link rel="stylesheet" href="styles/font-awesome-4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles/baguetteBox.min.css">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="background-div" ng-controller="AppCtrl">
    <div class="container">
      <img src="/images/logo.jpg" class="img-responsive">

      <div class="navbar-organy">
        <div class="navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse" uib-collapse="navCollapsed" >
              <li ng-class="{ active: isActive('/main-page') }"><a ui-sref="mainPage">Strona główna</a></li>
              <li ng-class="{ active: isActive('/about-company') }"><a ui-sref="aboutCompany">O firmie</a></li>
              <!--<li ng-class="{ active: isActive('/how-we-build') }"><a ui-sref="howWeBuild">Jak budujemy</a></li>-->
              <li uib-dropdown>
                <a href="#" uib-dropdown-toggle ng-click="dropdownToggle()">
                  Jak budujemy
                  <ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu role="menu">
                    <li role="menuitem" ng-class="{ active: isActive('/how-we-build/cover') }"><a ui-sref="howWeBuild.cover">Obudowa - szafa organowa</a></li>
                    <li role="menuitem" ng-class="{ active: isActive('/how-we-build/counter') }"><a ui-sref="howWeBuild.counter">Kontuar – stół gry</a></li>
                    <li role="menuitem" ng-class="{ active: isActive('/how-we-build/game-tracker') }"><a ui-sref="howWeBuild.gameTracker">Traktura gry</a></li>
                    <li role="menuitem" ng-class="{ active: isActive('/how-we-build/registry-tracker') }"><a ui-sref="howWeBuild.registryTracker">Traktura registrowa</a></li>
                    <li role="menuitem" ng-class="{ active: isActive('/how-we-build/barge') }"><a ui-sref="howWeBuild.barge">Wiatrownice</a></li>
                    <li role="menuitem" ng-class="{ active: isActive('/how-we-build/bellows') }"><a ui-sref="howWeBuild.bellows">Miechy</a></li>
                    <li role="menuitem" ng-class="{ active: isActive('/how-we-build/fans') }"><a ui-sref="howWeBuild.fans">Wentylatory</a></li>
                    <li role="menuitem" ng-class="{ active: isActive('/how-we-build/pipes') }"><a ui-sref="howWeBuild.pipes">Piszczałki</a></li>
                    <li role="menuitem" ng-class="{ active: isActive('/how-we-build/intonation') }"><a ui-sref="howWeBuild.intonation">Intonacja</a></li>
                    <li role="menuitem" ng-class="{ active: isActive('/how-we-build/montage') }"><a ui-sref="howWeBuild.montage">Montaż</a></li>
                    <!--<li role="menuitem"><a href="#">Traktura gry – mechaniczna</a></li>-->
                    <!--<li role="menuitem"><a href="#">Traktura registrowa – mechaniczna lub elektryczna</a></li>-->
                  </ul>
                </a>
              </li>
              <li ng-class="{ active: isActive('/realisations') }"><a ui-sref="realisations">Realizacje</a></li>
              <li ng-class="{ active: isActive('/references') }"><a ui-sref="references">Referencje</a></li>
              <li ng-class="{ active: isActive('/contact') }"><a ui-sref="contact">Kontakt</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div>
        <uib-carousel class="carousel-fade" active="true" interval="3000">
          <uib-slide ng-repeat="banner in Banners track by $index" index="$index">
            <img ng-src="{{banner.image}}" class="img-responsive" style="margin:auto;">
          </uib-slide>
        </uib-carousel>
      </div>
      <div class="banner-bottom"></div>
      <div class="page-content" ui-view></div>
      <div class="footer">
        <div class="clearfix typography">
          <div class="pull-left">
            Copyright © Zdzisław Mollin.
          </div>
          <div class="pull-right">
            <strong>Organmistrzostwo Zdzisław Mollin.</strong>
            89-651 Odry, ul. Ks. Zawadzińskiego 16. tel./fax +48 523 986 142, kom. +48 606 757 161
          </div>
        </div>
      </div>
      <div>
        <img src="/images/moll_footer_bottom.jpg" class="img-responsive">
      </div>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
