<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title ng-if="$state.current.data.pageTitle != null">
    {{$state.current.data.pageTitle | translate}} &raquo; {{::'PAGE_TITLE' | translate}}
  </title>
  <title ng-if="$state.current.data.pageTitle == null">
    {{::'PAGE_TITLE' | translate}}
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--<script data-main="scripts/amd/config" src="scripts/amd/require.js"></script>-->

  <script src="scripts/amd/require.js"></script>
  <script src="optimized.js"></script>

  <link rel="stylesheet" href="styles/font-awesome-4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles/baguetteBox.min.css">
  <link rel="stylesheet" href="styles/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="background-div" ng-controller="AppCtrl">
    <div class="container">
      <div class="banner-top">
        <div class="flags">
          <!--<button type="button" class="btn btn-transparent" ng-class="{active: getLanguage() === 'en'}" ng-click="changeLanguage('en')">-->
            <!--<span class="flag-icon flag-icon-gb"></span>-->
          <!--</button>-->
          <button type="button" class="btn btn-transparent" ng-class="{active: getLanguage() === 'de'}" ng-click="changeLanguage('de')">
            <span class="flag-icon flag-icon-de"></span>
          </button>
          <button type="button" class="btn btn-transparent" ng-class="{active: getLanguage() === 'pl'}" ng-click="changeLanguage('pl')">
            <span class="flag-icon flag-icon-pl"></span>
          </button>
        </div>

        <img src="/images/logo.jpg" class="img-responsive">
      </div>

      <div id="hide-before-load" class="navbar-organy" style="display: none;">
        <div class="navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse" uib-collapse="navCollapsed" >
              <li ng-class="{ active: isActive('/main-page') }" ng-cloak><a ui-sref="mainPage">{{'INDEX.MAIN_PAGE' | translate}}</a></li>
              <li ng-class="{ active: isActive('/about-company') }" ng-cloak><a ui-sref="aboutCompany">{{'INDEX.ABOUT_COMPANY' | translate}}</a></li>
              <li class="dropdown-container" uib-dropdown ng-cloak>
                <a href="#" uib-dropdown-toggle>{{'INDEX.HOW_WE_BUILD' | translate}}</a>
                <ul class="dropdown-menu dropdown-menu-left" uib-dropdown-menu role="menu">
                  <li role="menuitem" ng-class="{ active: isActive('/how-we-build/cover') }"><a ui-sref="howWeBuild.cover">{{'INDEX.L1' | translate}}</a></li>
                  <li role="menuitem" ng-class="{ active: isActive('/how-we-build/counter') }"><a ui-sref="howWeBuild.counter">{{'INDEX.L2' | translate}}</a></li>
                  <li role="menuitem" ng-class="{ active: isActive('/how-we-build/game-tracker') }"><a ui-sref="howWeBuild.gameTracker">{{'INDEX.L3' | translate}}</a></li>
                  <li role="menuitem" ng-class="{ active: isActive('/how-we-build/registry-tracker') }"><a ui-sref="howWeBuild.registryTracker">{{'INDEX.L4' | translate}}</a></li>
                  <li role="menuitem" ng-class="{ active: isActive('/how-we-build/barge') }"><a ui-sref="howWeBuild.barge">{{'INDEX.L5' | translate}}</a></li>
                  <li role="menuitem" ng-class="{ active: isActive('/how-we-build/bellows') }"><a ui-sref="howWeBuild.bellows">{{'INDEX.L6' | translate}}</a></li>
                  <li role="menuitem" ng-class="{ active: isActive('/how-we-build/fans') }"><a ui-sref="howWeBuild.fans">{{'INDEX.L7' | translate}}</a></li>
                  <li role="menuitem" ng-class="{ active: isActive('/how-we-build/pipes') }"><a ui-sref="howWeBuild.pipes">{{'INDEX.L8' | translate}}</a></li>
                  <li role="menuitem" ng-class="{ active: isActive('/how-we-build/intonation') }"><a ui-sref="howWeBuild.intonation">{{'INDEX.L9' | translate}}</a></li>
                  <li role="menuitem" ng-class="{ active: isActive('/how-we-build/montage') }"><a ui-sref="howWeBuild.montage">{{'INDEX.L10' | translate}}</a></li>
                </ul>
              </li>
              <li ng-class="{ active: isActive('/realisations') }" ng-cloak><a ui-sref="realisations">{{'INDEX.REALISATIONS' | translate}}</a></li>
              <li ng-class="{ active: isActive('/references') }" ng-cloak><a ui-sref="references">{{'INDEX.REFERENCES' | translate}}</a></li>
              <li ng-class="{ active: isActive('/contact') }" ng-cloak><a ui-sref="contact">{{'INDEX.CONTACT' | translate}}</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div>
        <uib-carousel class="carousel-fade" active="true" interval="3000">
          <uib-slide ng-repeat="banner in Banners track by $index" index="$index">
            <img ng-src="{{banner.image}}" class="img-responsive" style="margin:auto;">
          </uib-slide>
        </uib-carousel>
      </div>
      <div class="banner-bottom"></div>
      <div class="page-content" ui-view></div>
      <div class="footer">
        <div class="clearfix typography">
          <div class="pull-left">
            Copyright © Zdzisław Mollin.
          </div>
          <div class="pull-right">
            <strong>{{::'PAGE_TITLE' | translate}}.</strong>
            89-651 Odry, ul. Ks. Zawadzińskiego 16. tel./fax +48 523 986 142, kom. +48 606 757 161
          </div>
        </div>
      </div>
      <div>
        <img src="/images/moll_footer_bottom.jpg" class="img-responsive">
      </div>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
