<div class="typography">

  <div class="row">
    <div class="col-md-7">
      <h2>Witamy</h2>
      <p>
        Twórczość organmistrzowska zakładu prowadzonego obecnie przez Zdzisława Mollin w Odrach k.
        Chojnic sięga końca pięćdziesiątych lat ubiegłego stulecia. Zamiłowania do zawodu organmistrzowskiego
        wszczepił senior rodu Marcin Mollin (+1985), długoletni organista miejscowej parafii. Jego syn Józef
        (+2005) naukę zawodu kształtował pod kierunkiem budowniczego organów Józefa Sobiechowskiego w Bydgoszczy,
        ukończoną zdaniem egzaminu czeladniczego w 1953 roku oraz mistrzowskiego w 1961 roku.
      </p>
      <p>
        Pierwszym jego samodzielnym instrumentem były 11-rejestrowe organy o trakturze pneumatycznej wybudowane
        w 1958 roku dla miejscowego kościoła parafialnego pw. Wniebowzięcia NMP w Odrach.
      </p>

      <div class="margined-top">
        <p>
          <a ui-sref="aboutCompany">
            Więcej na temat firmy ...
          </a>
        </p>
      </div>

      <div class="margined-top">
        <p>
          <h4>Działalność naszej firmy obejmuje:</h4>

          <ul>
            <li>budowę i rekonstrukcję organów</li>
            <li>pozytywy organowe</li>
            <li>remonty i konserwacje wszystkich systemów</li>
            <li>wyrób piszczałek cynowych i drewnianych</li>
            <li>strojenia</li>
            <li>wyrób piszczałek języczkowych</li>
            <li>elementy traktury gry mechanicznej</li>
          </ul>
        </p>
      </div>
    </div>
    <h3>Ostatnie realizacje:</h3>
    <div class="col-md-5">
      <div class="margined-top">
        <uib-carousel class="carousel-fade" active="true" interval="3000">
          <uib-slide ng-repeat="r in LastRealisations track by $index" index="$index" ng-click="realisationTileClick(r)" class="pointer">
            <img ng-src="{{r.image}}" class="img-responsive" style="margin:auto;">
            <div class="carousel-caption">
              <h4>{{r.title}}</h4>
            </div>
          </uib-slide>
        </uib-carousel>
      </div>
    </div>
  </div>
</div>
