<div class="typography">

  <div class="row">
    <div class="col-md-7">
      <h2>{{::'MAIN_PAGE.HELLO' | translate}}</h2>
      <p>
        {{::'MAIN_PAGE.P1' | translate}}
      </p>
      <p>
        {{::'MAIN_PAGE.P2' | translate}}
      </p>

      <div class="margined-top">
        <p>
          <a ui-sref="aboutCompany">
            {{::'MAIN_PAGE.ABOUT_COMPANY' | translate}}
          </a>
        </p>
      </div>

      <div class="margined-top">
        <p>
          <h4>
            {{::'MAIN_PAGE.COMPANY_ACTIVITY' | translate}}
          </h4>

          <ul>
            <li>{{::'MAIN_PAGE.L1' | translate}}</li>
            <li>{{::'MAIN_PAGE.L2' | translate}}</li>
            <li>{{::'MAIN_PAGE.L3' | translate}}</li>
            <li>{{::'MAIN_PAGE.L4' | translate}}</li>
            <li>{{::'MAIN_PAGE.L5' | translate}}</li>
            <li>{{::'MAIN_PAGE.L6' | translate}}</li>
            <li>{{::'MAIN_PAGE.L7' | translate}}</li>
          </ul>
        </p>
      </div>
    </div>
    <h3>{{::'MAIN_PAGE.LAST_REALISATIONS' | translate}}</h3>
    <div class="col-md-5">
      <div class="margined-top">
        <uib-carousel class="carousel-fade" active="true" interval="3000">
          <uib-slide ng-repeat="r in LastRealisations track by $index" index="$index" ng-click="realisationTileClick(r)" class="pointer">
            <img ng-src="{{r.image}}" class="img-responsive" style="margin:auto;">
            <div class="carousel-caption">
              <h4>{{r.title}}</h4>
            </div>
          </uib-slide>
        </uib-carousel>
      </div>
    </div>
  </div>
</div>
